@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

a.active {
  background-color: rgb(192, 245, 245);
  
  color: rgb(0, 75, 75);
}
